{{ if image }}
{{ fuse:image :url="image" }}
<picture {{ if picture_class }}class="{{ picture_class }}"{{ /if }}>
    {{ if !process }}

    <img alt="{{ alt | entities }}"
         height="{{ height }}"
         src="{{ absolute }}{{ url }}"
         width="{{ width }}"
         {{ if cover }}
         class="object-cover w-full h-full {{ class }}"
         style="object-position: {{ focus | background_position }}"
         {{ else }}
         class="{{ class }}"
         {{ /if }}
         {{ style ?= 'style="{{ style }}"' }}
         {{ unless alt }} aria-hidden="true" {{ /unless }}
         {{ if lazy }} loading="lazy" {{ /if }}
    >

    {{ else }}

    {{ foreach:formats as="format|mime_type" }}
    <source srcset="{{ srcset scope='size' }}
                {{ absolute }}{{ glide:image :format='format' :width='size:width' :height='size:height' fit='{{ fit ?? 'crop_focal' }}' quality='{ size:quality }' }} {{ size:width }}w{{ !last ?= ',' }}
            {{ /srcset }}"
            sizes="{{ sizes ?? '(min-width: 768px) 50vw, 100vw' }}"
            type="{{ mime_type }}">
    {{ /foreach:formats }}

    <img alt="{{ alt | entities }}"
         height="{{ 1024 * original_ratio }}"
         src="{{ absolute }}{{ glide:image width='1024' height='{ 1024 * original_ratio }' fit='{{ fit ?? 'crop_focal' }}' }}"
         width="1024"
         {{ if cover }}
         class="object-cover w-full h-full {{ class }}"
         style="object-position: {{ focus | background_position }}"
         {{ else }}
         class="{{ class }}"
         {{ /if }}
         {{ style ?= 'style="{{ style }}"' }}
         {{ unless alt }} aria-hidden="true" {{ /unless }}
         {{ if lazy }} loading="lazy" {{ /if }}
    >

    {{ /if }}
</picture>
{{ /fuse:image }}
{{ /if }}